<div class="container-fluid body signup-container">
  <div class="row">
    <div class="col-lg-3 col-md-2"></div>
    <div class="col-lg-6 col-md-8 login-box">
      <div class="col-lg-12 login-key">
        <i class="fa fa-key" aria-hidden="true"></i>
      </div>
      <!--img class="img-form" src="/assets/images/popcorn.png"-->
      <div class="col-lg-12 login-title after-title">
      ADD NEW MOVIE
      </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item active padded-first">
              <a class="nav-link" id="manual-tab" data-toggle="tab" href="#manual" role="tab" aria-controls="manual" aria-selected="true">Manual</a>
          </li>
          <li class="nav-item padded-second">
              <a class="nav-link active" id="tmdb-tab" data-toggle="tab" href="#tmdb" role="tab" aria-controls="tmdb" aria-selected="true">TMDB</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade active in" id="manual" role="tabpanel" aria-labelledby="manual-tab">
          <form {{action "addNewMovie" session.data.authenticated.jwt on="submit"}}>
            <div class="col-lg-12 login-form">
              <div class="form-group">
                  <label class="form-control-label">Title</label>
                  {{input type="text" required=true class="form-control input-dark" value=model.newMovie.movie.title}}
              </div>
              <div class="form-group">
                  <label class="form-control-label">Overview</label>
                  {{textarea required=true class="form-control input-dark" value=model.newMovie.movie.overview}}
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-10">
                    <label class="form-control-label">Genres</label>
                    <select required class="form-control input-dark" id="dropdownGenre" onchange={{action "setSelectedGenre" value="target.value"}}>
                        <option disabled selected> -- genre --</option>
                        {{#each model.genres as |genre|}}
                            <option value={{genre.id}}>{{genre.name}}</option>
                        {{/each}}
                    </select>
                  </div>
                  <div class="col-md-2 text-right">
                      <button class="btn btn-info clear-button" {{action "clearSelectedGenres"}}>Clear</button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                  <label class="form-control-label">Release date</label>
                  {{input type="date" required=true class="form-control input-dark" value=model.newMovie.movie.release_date max=today}}
              </div>
              <div class="form-group">
                  <label class="form-control-label">Poster path</label>
                  {{input type="text" required=true class="form-control input-dark" value=model.newMovie.movie.poster_path}}
              </div>
              <div class="form-group"> <!-- Average vote mozda i nema smisla kad se rucno dodaje film-->
                  <label class="form-control-label">Average vote</label>
                  {{input type="number" class="form-control input-dark" value=model.newMovie.movie.vote_average step="0.01" min="0" max="10"}}
              </div>
              <div class="col-lg-12">
                <div class="col-lg-6 login-btm login-text">
                  <!-- Error Message -->
                </div>
                <div class="col-lg-6 login-btm login-button">
                  <button type="submit" class="btn btn-danger">ADD</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- TMDB -->
        <div class="tab-pane fade" id="tmdb" role="tabpanel" aria-labelledby="tmdb-tab">
          <div class="col-lg-12 login-form">
            <div class="form-group">
              <label class="form-control-label">SELECT LATEST MOVIES FROM The MovieDB</label>
              <select required class="form-control input-dark" onchange={{action "setSelectedMovie" value="target.value"}} >
                <option disabled selected> -- movie --</option>
                {{#each model.moviesTMDB as |movie|}}
                <option value={{movie.id}}>{{movie.title}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="col-lg-8 login-form">
            <div class="form-group">
              <label class="form-control-label">Original title</label>
              {{input type="text" class="form-control input-dark" value=model.movie.original_title readonly=true}}
            </div>
            <div class="form-group">
              <label class="form-control-label">Overview</label>
              {{textarea  class="form-control input-dark" value=model.movie.overview readonly=true rows=overviewLength}}
            </div>
            <div class="form-group">
              <label class="form-control-label">Release date</label>
              <div class="form-control input dark">
                {{moment-format model.movie.release_date 'MMMM D, YYYY' class="form-control input-dark"}}
              </div>
            </div>
            <div class="form-group">
              <label class="form-control-label">Vote average</label>
              {{input type="number" class="form-control input-dark" value=model.movie.vote_average readonly=true}}
            </div>
          </div>
          <div class="col-lg-4 login-form">
            <div class="form-group left-padded">
              <label class="form-control-label">Poster</label>
              {{#if  poster}}
                <img src={{poster}} alt="" class="bordered">
              {{else}}
                <img src="/assets/images/placeholder.png" alt="" class="bordered">
              {{/if}}
            </div>
          </div>
          <div class="col-lg-6 login-btm login-button">
            <button type="submit" class="btn btn-danger" {{action "addMovieFromTMDB" session.data.authenticated.jwt}}>ADD</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-2"></div>
    </div>
  </div>
</div>


